@(cnpj: String)
@main("Cadastro Servicos | Conforta-me") {
    <h2>Informe os serviços que sua Funerária disponibiliza</h2>
    <br>
    <br>
    <form method="POST" action="/cadastroServicos" >
        Cremação:
        <input type="checkbox" name="cremacao">
        <br><br>
        Sepultamento:
        <input type="checkbox" name="sepultamento">
        <br><br>
        Coroa de Flores:
        <input type="checkbox" name="coroaDeFlores">
        <input type="hidden" name="cnpj" value=@cnpj>
        <br>
        <br>
        <input type="submit">
     </form>
}