
@main("Guia Rapido | Conforta-me") {
    <h1>Informe os itens do seu pedido</h1>
    <form method="POST" action="/customizarpedido" >
        Urna:<br>
        <input type="text" name="opcaoUrna"><br>
        Coroa de flores:<br>
        <input type="text" name="opcaoCoroa"><br>
        <input type="submit" value="Avancar">
        <br>
     </form>
     <br>
    <form method="POST" action="/guiarapido" >
        <input type="submit" value="Voltar">
        <br>
    </form>
    
}