@(nome_pacote: String, itensDoPacote: List[String])

@main("Guia Rapido | Conforta-me") {
    <h1> Você Escolheu o Pacote @nome_pacote</h1>
    <br>
    <h1>Informe os itens do seu pedido</h1>
    <br>
    <form method="POST" action="/customizarpedido">
        <ul>
            @for(item <- itensDoPacote) {
                <li>
                    @item 
                    <br> 
                    <input type="text" name="@item">
                    <br>
                </li>
                
            }
            <br>
            <input type="submit" value="Avançar">
            <br>
        </ul>
        <!--Urna:<br>
        <input type="text" name="opcaoUrna"><br>
        Coroa de Flores:<br>
        <input type="text" name="opcaoCoroa"><br>
        <br>
        <input type="submit" value="Avançar">
        <br>-->
     </form>
     <br>
    <form method="GET" action="/guiarapido" >
        <input type="submit" value="Voltar">
        <br>
    </form>
    
}