
@main("Guia Rapido | Conforta-me") {
    <h2>Bem vindo ao Conforta-me</h2>
    <br>
    <h3>Iremos lhe ajudar neste momento dificil</h3>
    <br>
    <br>
    <form method="POST" action="/guiarapido" >
        Localização de Origem: <br>
        <input type="text" name="localizacaoOrigem">
        <br><br>
        Localização de Destino: <br>
        <input type="text" name="localizacaoDestino">
        <br><br>
        Valor desejado: <br>
        <input type="text" name="valorDesejado">
        <br>
        <br>
        <input type="submit">
     </form>
}