
@main("Guia Rapido | Conforta-me") {
    <h2>Bem vindo ao Conforta-me</h2>
    <h3>Iremos lhe ajudar neste momento dificil</h3>
    
    <form method="POST" action="/guiarapido" >
        Localização de Origem:<br>
        <input type="text" name="localizacaoOrigem"><br>
        Localização de Destino:<br>
        <input type="text" name="localizacaoDestino"><br>
        Valor desejado<br>
        <input type="text" name="valorDesejado">
        <input type="submit">
     </form>

}