@(pacotes: List[entidades.Pacote])
@main("Lista de Pacotes") {
	<br>
	<h1>Todos os Pacotes Disponíveis</h1>
	<br>
	<br>
	<form method="POST" action="/pacotesacessiveis" >
		<ul>
		@for(pacote <- pacotes) {
			<li>
				<input type="radio" name="nome_pacote" value="@pacote.getNome()">	@pacote.getNome() 
				<p>@pacote.getDescricao()</p>
				<br>
			</li>
		}
		</ul>
		<input type="submit" value="Escolher Pacote">
	</form>
	<br>
	<form metho="GET" action="/guiarapido">
		<input type="submit" value="Voltar">
	</form>
}
