@main("Cadastro | Conforta-me") {
    <div class="content">
    <h1 class="bold-text">Conforta.me</h1> 

    <p class="green-text bold-text">Estamos aqui para te ajudar</p>
    <p class="green-text">Sentimos pela sua perda. Iremos ajudar a encontrar o servico funerário que você precisa.</p>

    <p><a href="#" class="bold-text gray-text">Entrar com a conta do Facebook</a></p>
    <form method="POST" action="#">
        <div class="login-form">
            <input type="text" name="login" placeholder="Usuário">
            <input type="password" name="password" placeholder="Senha">
            <button type="submit" class="green-button">Entrar</button>
        </div>
    </form>

    <p><a href="/acessoFuneraria" class="bold-text gray-text">Clique aqui para acessar como funerária</a><p>
}