@main("Cadastro | Conforta-me") {
    <div class="content">
        <h1 class="bold-text">Conforta.me</h1>
        <h2 class="green-text bold-text">Cadastro da Funerária</h2>

        <form method="POST" action="/cadastroFuneraria">
            <div class="cadastro-form">
                <div class="cadastro-row-form">
                    <div class="cadastro-column-form">
                        <label for="name">Nome</label>
                        <input type="text" id="name" name="name" placeholder="">
                    </div>
                    <div class="cadastro-column-form">
                        <label for="cep">CEP</label>
                        <input type="text" id="cep" name="cep" placeholder="">
                    </div>
                </div>

                <div class="cadastro-row-form">
                    <div class="cadastro-column-form">
                        <label for="cnpj">CNPJ</label>
                        <input type="text" id="cpnj" name="cnpj" placeholder="">
                    </div>
                    <div class="cadastro-column-form">
                        <label for="state">Estado</label>
                        <input type="text" id="state" name="state" placeholder="">
                    </div>
                </div>

                <div class="cadastro-row-form">
                    <div class="cadastro-column-form">
                        <label for="telephone">Telefone</label>
                        <input type="text" id="telephone" name="telephone" placeholder="">
                    </div>
                    <div class="cadastro-column-form">
                        <label for="city">Cidade</label>
                        <input type="text" id="city" name="city" placeholder="">
                    </div>
                </div>

                <div class="cadastro-row-form">
                    <div class="cadastro-column-form">
                        <label for="address">Endereço</label>
                        <input type="text" id="address" name="address" placeholder="">
                    </div>
                    <div class="cadastro-column-form">
                        <label for="email">E-mail</label>
                        <input type="text" id="email" name="email" placeholder="">
                    </div>
                </div>

                <div class="cadastro-row-form">
                    <div class="cadastro-column-form">
                        <label for="password">Senha</label>
                        <input type="text" id="password" name="password" placeholder="">
                    </div>
                    <div class="cadastro-column-form">
                        <label for="pass_confirmation">Confirmar Senha</label>
                        <input type="text" id="pass_confirmation" name="pass_confirmation" placeholder="">
                    </div>
                </div>

                <button type="submit" class="green-button button-self-center">Avançar</button>
            </div>

        </form>

    </div>
}