@main("Cadastro | Conforta-me") {
    <div class="content">
    <h1 class="bold-text">Conforta.me</h1> 

    <p class="green-text bold-text">Espaço para Funerárias</p>
    <p class="green-text">Seja bem-vinda. Obrigado por ser nossa parceira</p>

    <p><a href="#" class="bold-text gray-text">Digite as suas credenciais abaixo</a></p>
    <form method="POST" action="/cadastroFuneraria">
        <div class="login-form">
            <input type="text" name="login" placeholder="Usuário">
            <input type="password" name="password" placeholder="Senha">
            <button type="submit" class="green-button">Entrar</button>
        </div>
    </form>

    <p><a href="/cadastroFuneraria" class="bold-text gray-text">Clique aqui para cadastrar uma nova funerária</a><p>
    </div>
}