@main("Guia Rapido | Conforta.me") {
    <div class="content">
        <h1 class="bold-text">Conforta.me</h1>
        <h2 class="green-text bold-text">Guia Rápido</h2>

        <p class="bigger-font gray-text bold-text">Quanto você pode pagar pelo serviço funerário?</p>
        <form method="POST" action="">
            <input type="text" placeholder="R$" name="value">
            <div class="cadastro-row-form">
                <a href="/"><button type="button" class="green-button button-self-center">Voltar</button></a>
                <button class="green-button button-self-center">Ver Pacotes</button>
            </div>
    </div>
}