@main(title = "Bem-vindo | Conforta.me") {
    <div class="content">
        <h1 class="bold-text">Conforta.me</h1>
        <h2 class="green-text bold-text">Seja Bem-Vinda ao Conforta.me</h2>

        <p class="bigger-font   gray-text bold-text">Qual o tipo de orientação que você deseja?</p>

        <div class="choice-row">
            <a href="/presepultamento"><button class="green-button">Procedimentos de Pré-Sepultamento</button></a>
            <a href="/guiarapido"><button class="green-button">Guia Funerária Rápido</button></a>
            <button class="green-button">Guia Funerária Completo</button>
            <button class="green-button">Avaliar Serviço</button>
        </div>
    </div>
}